appdirs==1.4.4
astroid==2.5.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
peewee==3.14.1
pipenv==2020.11.15
pycparser==2.20
pylint==2.7.2
requests==2.25.1
six==1.15.0
soupsieve==2.2
toml==0.10.2
urllib3==1.26.3
virtualenv==20.4.2
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wrapt==1.12.1
